body { background-color: #000000; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; }
a { background-color: #CCCCCC; }
h1 { font-family: "Times New Roman"; color: #CCCCCC }
.news { font-style: italic; color: #FF0000 }